body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 14px;
    font-family: Arial, sans-serif;
    background-color: #A6ECA7;
}

main {
    height: 100%;
}

.left-frame  { float: left; }
.right-frame { float: right; }